.bodyTextStyle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*background: purple;*/
    background: #644E5B;
}

.navbar{
    /*background: indigo; */
    background: #314455;
}
#timer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5em;
    padding:25px;
    margin: 2px;
    clear:both;
    color:whitesmoke;
}

#outer-content{
    /*background: indigo; */
    background: #9e5a63;
    padding:25px;
    margin:25px;
}

.quiz-content{
    margin:25px;
    align-items: center;
    /*background: darkorchid;*/
    background: #C96567;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.timer-box{
    padding:25px;
    position: absolute;
    right: 50px;
}

#answer{
    font-family: 'Courier New', Courier, monospace;
     font-size: 1em; 
     border: .5px solid #C96567; 
     background: #97AABD;
     margin:2px;
    
}

#answer:hover{
    background: #644E5B;
}
#wrong{
    font-family: 'Courier New', Courier, monospace; 
    font-size: 1em; 
    border:.5px solid #C96567; 
    background: #97AABD;
    margin:2px;

}
#wrong:hover{
    background: #644E5B;
}

#incorrect-alert{
   color:#314455; 
   font-weight:bold; 
   font-size:2em; 
   text-decoration:underline;
   background:  #C96567;
   margin: 25px;

}

#scoreboard{
    font-size: 5em;
}


#submit{

    font-family: 'Courier New', Courier, monospace;
    font-size: 1em; 
    border: .5px solid #C96567; 
    background: #97AABD;
    margin:25px;
}

#submit:hover{
    background:#644E5B;
}